doctype html
html(lang='es')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Bauxis Consultoría WEB

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/bauxis_favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Baxis.com Desarrollo WEB con JAMstack
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') ¿Qué es Bauxis?
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Servicios
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#portfolio') Portafolio
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contacto

        // Masthead
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-white.font-weight-bold Consultoría en desarrollo WEB
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.text-white-75.font-weight-light.mb-5
                            | Te ayudamos a poner a tu negocio en el mapa de la información digital, donde más clientes podrán encontrarte y conocer tu negocio.
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') ¿Quieres saber más?

        // About
        section#about.page-section.bg-primary
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.text-white.mt-0 Somos tu aliado estratégico
                        hr.divider.light.my-4
                        p.text-white-50.mb-4
                            | En estos tiempos tener una página web es indiscutible, donde podrás ofrecer tus servicios o productos y te permitirá acercarte e interactuar con miles de clientes potenciales. Tenemos la experiencia y las herramientas para poner tu negocio en línea. ¡Desarrollamos tu sitio WEB de calidad en horas!
                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') ¿Comenzamos?

        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Nuestro servicio
                hr.divider.my-4
                .row
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-gem.text-primary.mb-4
                            h3.h4.mb-2 Conveniencia
                            p.text-muted.mb-0 El mejor costo beneficio del mercado, nuestra experiencia y pasión a un precio razonable.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
                            h3.h4.mb-2 Tecnología de punta
                            p.text-muted.mb-0 Tu sitio web es desarrollado con la última tecnología.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-globe.text-primary.mb-4
                            h3.h4.mb-2 De inicio a fin
                            p.text-muted.mb-0 Nos encargamos de todo, desde el dominio hasta la publicación tu sitio web.
                    .col-lg-3.col-md-6.text-center
                        .mt-5
                            i.fas.fa-4x.fa-heart.text-primary.mb-4
                            h3.h4.mb-2 Hecho con cariño
                            p.text-muted.mb-0 Cada sitio desarrollado está construido a detalle.

        // Portfolio
        section#portfolio
            .container-fluid.p-0
                .row.no-gutters
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Sitio web y tienda en línea
                                .project-name
                                    | Baule.mx
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Sitio web
                                .project-name
                                    | Merca.lat
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Sitio web
                                .project-name
                                    | Bauxis.com
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name
                    .col-lg-4.col-sm-6
                        a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
                            img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='')
                            .portfolio-box-caption.p-3
                                .project-category.text-white-50
                                    | Category
                                .project-name
                                    | Project Name

        // Call to action
        section.page-section.bg-dark.text-white
            .container.text-center
                h2.mb-4 ¡Ten tu propio sitio web!
                a.btn.btn-light.btn-xl(href='https://startbootstrap.com/themes/creative/') ¡Resuelve tus dudas!

        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 ¡Contáctanos!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | ¿Estás listo para tener tu sitio web con nosotros? No lo pienses más. Llámanos, envía un mensaje o escríbenos para mayor información y tener tu sitio web.
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        i.fas.fa-phone.fa-3x.mb-3.text-muted
                        div +52(55) 5402 5841
                    .col-lg-4.mr-auto.text-center
                        i.fas.fa-envelope.fa-3x.mb-3.text-muted

                        // Make sure to change the email address in BOTH the anchor text and the link target below!
                        a.d-block(href='juanluisvillasenor@gmail.com') ventas@bauxis.com

        // Footer
        footer.bg-light.py-5
            .container
                .small.text-center.text-muted Copyright © 2020 - Bauxis

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
